#root {
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(166, 55, 55)
}

body {
  margin: 0;
}
a{
  text-decoration: none;
}

.header {
  background: rgb(62, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 0.8rem
}

.search-bar{
  
}
.disk {
  transform: scale(1)
}
.disk :hover {
  color: rgb(143, 143, 143);
  transition: 0.5s
}

#img{
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

ol {
  padding-bottom: 1rem
}

.songs{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer {
  background: rgb(62, 0, 0);
  color: white;
  font-size:small;
  padding: 0.7rem;
  margin-top: 1.5rem
}
