#root {
  max-width: 1280px;
  padding: 0rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.topbox {
  background: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: space-around;
}


.search-bar{
  width: 15rem
}

.albumContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
}

.album {
  width: 25%;
  margin-bottom: 2rem;
  margin-top: 2rem
}
.cardMediaImg {
  height: 8rem;
  width: 100%
  
}

ol {
  padding-bottom: 1rem
}

.songs{
  display: flex;
  flex-direction: column;
  text-align: left;
}


