.subsongContainer {
   display: flex;
   flex-direction: column;
   background: rgb(207, 207, 207);
   width: 90%;
   border-radius: 0.5rem;
   text-align: left;
}
.subsongContainer img {
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
   display: flex;
   flex-direction: column;
}
.subsongs ul{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
 
/* .songPage {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   grid-template-areas: 
     "subsongs song embeded";
   justify-content: center;
   column-gap: 40px;
   flex-wrap: wrap;
   margin-top: 1.5rem;

}
#subsongs {
   grid-area: subsongs;
}


#song {
   grid-area: song
}

#embeded {
   grid-area: embeded
}
.current {
  color: black;
}
*/
#embed {
   height: 352px;
   border: none
} 

 
.lyrics {
   text-align: left;
   color: white
}