.subsongContainer {
   display: flex;
   flex-direction: column;
   background: rgb(207, 207, 207);
   width: 90%;
   border-radius: 0.5rem;
   text-align: left;
}
.subsongContainer img {
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
   display: flex;
   flex-direction: column;
}
.subsongs ul{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

#embed {
   height: 352px;
   border: none
} 

.lyrics {
   text-align: left;
   color: white;
   margin-bottom: 3rem
}